
/* Color variables */
:root{
  --brown-beaver: #9E7F66;
  --black-darkest: #000000;
  --black-dark: #111111;
  --black-medium: #17192B;
  --gray-dark: #242B37;
  --gray-medium: #4C4C4C;
  --gray-light: #5C6779;
  --gray-lightest: #cbcbcb;
  --white: #FFFFFF;
  --error-red: #B54949;
}

/* Hero container */
.reservations-hero{
  height: 77vh;
  width: 100vw;
  position: relative;
}

/* Hero image */
.reservations-hero-image{
  height: 100%;
  width: 100%;
}

/* Hero text container that holds the logo, title, and description text */
.reservations-hero-text-container{
  position: absolute;
  margin: 4rem 0 0 9.75rem;
  top: 0;
  color: var(--white);
}

.reservations-hero-logo-container{
  margin-bottom: 6.5rem;
}

.reservations-hero-title-container{
  margin-bottom: 1.5rem;
}

/* Hero description container for the text below the title */
.reservations-hero-description-container{
  width: 35%;
}

/* Reservation container with white background that holds gray pattern brown icon, and form */
.reservation-container{
  background-color: var(--white);
  width: 100%;
  position: relative;
}

/* Reservation pattern image */
.reservation-pattern{
 height: 45vh;
 width: 70%;
}

/* Container for the brown icon to the left and form on the right*/
.reservation-icon-form-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
}

/* Brown lines icon container to the left of the form */
.reservation-icon-container{
  height: 18%;
  width: 10%;
  position: relative;
  top: 7.55rem;
  left: 39rem;
}

/* Brown lines icon */
.reservation-icon{
  height: 100%;
  width: 100%;
}

/* Reservation form container */
.reservation-form-container{
  z-index: 2;
  background-color: var(--white);
  padding: 2rem 2rem 2.5rem 2rem;
  height: 155%;
  width: 35%;
  position: relative;
  left: 35rem;
  bottom: 17.2rem;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}

/* Reservation form */
.reservation-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Individual form rows */
.form-row{
  margin-bottom: 1.5rem;
}

input:focus{
  outline: none;

}
/* Name and email input fields */
.name-input,
.email-input{
  border: none;
  border-bottom: solid var(--black-dark) 1px;
  padding: 0 0 1rem 0.5rem;
  width: 100%;
  font-family: 'Spartan', sans-serif;
  
}

/* Form date and time rows that place form label on left and inputs on the right */
.form-date-row,
.form-time-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

/* Form labels for the date and time rows */
.form-label{
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Spartan', sans-serif;
  
}

/* Container for form rows with label to the left of input, want the error message below the label */
.form-label-error-container{
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* Container for the 3 inputs for date and time */
.form-date-input-container,
.form-time-input-container{
 display: flex;
 justify-content: space-between;
 width: 60%;
 font-family: 'Spartan', sans-serif;
  
}

/* Date input fields inside the date row and time row */
.date-input,
.time-input{
  border: none;
  border-bottom: solid var(--black-dark) 1px;
  padding: 0 0 1rem 0;
  width: 25%;
  text-align: center;
}

/* Remove border from am/pm selection box */
.am-pm-input{
  border: none;
  border-bottom: solid var(--black-dark) 1px;
  padding: 0 0 1rem 0;
  text-align: center;
  width: 25%;
}

.am-pm-input:focus{
  outline: none;
}

/* People row */
.form-people-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-bottom: solid var(--black-dark) 1px;
  padding: 1rem;
}

.people-input,
.people-input::placeholder{
  border: none;
  color: var(--black-dark);
  font-family: 'Spartan', sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
}

.minus-container{
  position: relative;
  left: 0.75rem;
}

.plus-container{
  position: relative;
  right: 0.75rem;
}

.form-button{
  border: none;
  background-color: var(--black-dark);
  color: var(--white);
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  padding: 1rem 2.6rem;
  text-transform: uppercase;
  width: 100%;
}

.error-message{
  color: var(--error-red);
  padding: 0.625rem 0 0 0;
  font-size: 0.625rem;
}