/* Google font import for Spartan font family */
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

/* Color variables */
:root{
  --brown-beaver: #9E7F66;
  --black-darkest: #000000;
  --black-dark: #111111;
  --black-medium: #17192B;
  --gray-dark: #242B37;
  --gray-light: #5C6779;
  --white: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Spartan', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 100%;
}

/* Header 1 styling */
h1{
  font-size: 3.25rem;
  font-weight: 100;
  line-height: 3.75rem;
}

/* Header 2 styling */
h2{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

/* Header 3 styling */
h3{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

/* The smaller version of header 3 */
.small-heading{
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
}

/* Regular sized paragraph elements */
.normal-p{
  font-size: 1.025rem;
  line-height: 1.775rem;
}

/* Smaller sized paragraph elements */
.small-p{
  font-size: 0.94rem;
  line-height: 1.75rem;
}


/* Links */
a{
  text-decoration: none;
}

/* List Items */
li{
  list-style: none;
}

/* Link styling - creates a button with white text and a white border */
.light-text-button{
  background-color: transparent;
  color: var(--white);
  border: solid var(--white) thin;
  padding: 1rem 3.5rem;
}

/* Link styling - on hover styling for light text button */
.light-text-button:hover{
  background-color: var(--white);
  color: var(--black-dark);
  border: solid var(--black-dark) thin;
}

/* Link styling - creates a button with dark text and a dark border */
.dark-text-button{
  background-color: transparent;
  color: var(--black-dark);
  border: solid var(--black-dark) thin;
  padding: 1.5rem 3.5rem;
}

/* Link styling - on hover styling for dark text button */
.dark-text-button:hover{
  background-color: var(--black-dark);
  color: var(--white);
  border: solid var(--white) thin;
}

/* Hero */
.hero{
  background: url('/images/homepage/hero-bg-desktop.jpg') no-repeat right center;
  background-size: cover;
  height: 110vh;
  position: relative;
}

.hero::after{
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 36%;
  background-color: var(--black-darkest);
  z-index: 1;
  position: absolute;
 
  
}

.hero-logo-container{
  margin-bottom: 7.5rem;
}

/* Black background behind hero text */
.hero-text-container{
  /*padding: 2rem 0 0 10.3rem;*/
  width: 100%;
  position: absolute;
  top: 2rem;
  right: 0;
  left: 10.3rem;
  z-index: 2;
}


/* Header 1 in the hero */
.hero-header{
  color: var(--white);
  margin-bottom: 1.5rem;
  width: 40%;
}

/* Paragraph elememt in the hero */
.hero-p{
  color: var(--white);
  width: 30%;
}

.hero-button-container{
  margin-top: 3rem;
}

/* Features container for the background, image, and text */
.features-background{
  background-color: var(--white);
  width: 100%;
}

/* Gray pattern behind the features section. Each features section will be positioned absolute to this */
.features-background-pattern-container{
  position: relative;
}

/* Gray pattern container enjoyable places section */
.curve-top-right-pattern-container{
  margin-top: 12rem;
  height: 45vh;
  width: 65%;
}

.curve-top-right-pattern{
  height: 100%;
  width: 100%;
}

/* Features container holding an image and text - positioned absolute on features-background-pattern-container */
.features-container{
  display: flex;
  width: 100%;
  padding-left: 10.5rem;
  position: absolute;
  top: 0;
}

/* Holds the image on the left side of the enjoyable places section */
.features-enjoyable-image-container-left{
  background: url('/images/homepage/enjoyable-place-desktop.jpg') no-repeat center center/cover;
  height: 95vh;
  width: 170%;
  position: relative;
  bottom: 17rem;
  z-index: 2;
}

.features-text-container{
  width: 100%;
}

.features-text-container-right-side{
  position: relative;
  left: 12rem;
  bottom: 5rem;
}






