/* Google font import for Spartan font family */
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

/* Color variables */
:root{
  --brown-beaver: #9E7F66;
  --black-darkest: #000000;
  --black-dark: #111111;
  --black-medium: #17192B;
  --gray-dark: #242B37;
  --gray-medium: #4C4C4C;
  --gray-light: #5C6779;
  --gray-lightest: #cbcbcb;
  --white: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Spartan', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 100%;
}

/* Header 1 styling */
h1{
  font-size: 3.25rem;
  font-weight: 100;
  line-height: 3.75rem;
}

/* Header 2 styling */
h2{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

/* Header 3 styling */
h3{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

/* The smaller version of header 3 */
.small-heading{
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
}

/* Regular sized paragraph elements */
.normal-p{
  font-size: 1.025rem;
  line-height: 1.775rem;
}

/* Smaller sized paragraph elements */
.small-p{
  font-size: 0.94rem;
  line-height: 1.75rem;
}


/* Links */
a{
  text-decoration: none;
}

/* List Items */
li{
  list-style: none;
}

/* Link styling - creates a button with white text and a white border */
.light-text-button{
  background-color: transparent;
  color: var(--white);
  border: solid var(--white) thin;
  padding: 1rem 3.5rem;
}

/* Link styling - on hover styling for light text button */
.light-text-button:hover{
  background-color: var(--white);
  color: var(--black-dark);
  border: solid var(--black-dark) thin;
}

/* Link styling - creates a button with dark text and a dark border */
.dark-text-button{
  background-color: transparent;
  color: var(--black-dark);
  border: solid var(--black-dark) thin;
  padding: 1.5rem 3.5rem;
}

/* Link styling - on hover styling for dark text button */
.dark-text-button:hover{
  background-color: var(--black-dark);
  color: var(--white);
  border: solid var(--white) thin;
}

/* Hero */
.hero{
  background: url('/images/homepage/hero-bg-desktop.jpg') no-repeat right center;
  background-size: cover;
  height: 110vh;
  position: relative;
}

.hero::after{
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 36%;
  background-color: var(--black-darkest);
  z-index: 1;
  position: absolute;
}

.hero-logo-container{
  margin-bottom: 7.5rem;
}

/* Text container for the icon, header, and description in the hero */
.hero-text-container{
  width: 100%;
  position: absolute;
  top: 2rem;
  right: 0;
  left: 10.3rem;
  z-index: 2;
}


/* Header 1 in the hero */
.hero-header{
  color: var(--white);
  margin-bottom: 1.5rem;
  width: 40%;
}

/* Paragraph elememt in the hero */
.hero-p{
  color: var(--white);
  width: 30%;
}

.hero-button-container{
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

/* Container for the features section - sets properties for the gray image on the left side of the section  */
.curve-top-right-pattern-container{
  background-color: var(--white);
  height: 46vh;
  width: 100%;
  position: relative;
  margin-top: 12rem;
}

/* Gray pattern image with a curve at the top right - starts on the left side of the features section */
.curve-top-right-pattern{
  height: 100%;
  width: 62.5%;
}

/* Flex container for the feature image and feature text */
.features-image-text-container{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Features image container */
.features-image-container{
  position: relative;
  bottom: 16.5rem;
  height: 100%;
  width: 45%; 
  z-index: 2;
}

/* Features image */
.features-image{
  height: 100%;
  width: 100%;
}

/* Box shadow in certain images */
.image-shadow{
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503);
}

/* Features text container that holds an icon, header, and paragraph element */
.features-text-container{
  position: relative;
  bottom: 5rem;
  width: 40%;
}

/* Features icon container */
.features-text-icon-container{
  margin-bottom: 2.25rem;
}

/* Features header container */
.features-text-header-container{
  margin-bottom: 1rem;
}

/* Container for the second features section - sets properties for the gray image on the left side of the section  */
.curve-top-left-pattern-container{
  background-color: var(--white);
  height: 46vh;
  width: 100%;
  position: relative;
  margin-top: 32.5rem;
  display: flex;
  justify-content: flex-end;
}

/* Gray pattern image with a curve at the top right - starts on the left side of the features section */
.curve-top-left-pattern{
  height: 100%;
  width: 62.5%;
}


/* Menu background */
.menu-background-black{
  background-color: var(--black-dark);
  color: var(--white);
  padding: 12rem 0 7.5rem 0;
}

/* Flex container placing menu highlights on the left and menu items on the right */
.menu-container{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

/*Menu highlights container on the left side */
.menu-highlights-container{
  display: flex;
  flex-direction: column;
  width: 42.5%;
}

/* Divider icon container above the highlights header */
.menu-highlights-divider-icon-container{
  height: 2%;
  width: 12%;
  color: var(--white);
  margin-bottom: 3rem;
}

/* Divider icon */
.menu-highlights-divider-icon{
  height: 100%;
  width: 100%;
}

/* Header container for the highlights */
.menu-highlights-header-container{
  color: var(--white);
  margin-bottom: 1rem;
}

/* Menu items container on the right side */
.menu-items-container{
  display: flex;
  flex-direction: column;
  width: 46%;
  margin-top: 3.75rem;
}

/* Individual menu item row - places image on the left and text on the right */
.menu-item-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Removes margin bottom for the last menu item row */
.menu-item-row:last-child{
  margin-bottom: 0;
}

/* Creates the border line at the bottom of each menu item row */
.menu-item-row::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: solid var(--white) thin;
  opacity: 0.15;
}

/* Removes the border line on the last menu item row */
.menu-item-row:last-child::after{
  display: none;
}

.menu-item-image-container{
  height: 100%;
  width: 48.5%;
  margin-right: 2.5rem;
}

.menu-item-image{
  height: 100%;
  width: 100%;
}

.menu-item-description{
  font-size: .75rem;
}

/* Container for the booking section - sets properties for the gray image on the left side of the section  */
.curve-bottom-right-pattern-container{
  height: 46vh;
  width: 100%;
  position: relative;
}

/* Gray pattern image with a curve at the bottom right - starts on the left side of the booking section */
.curve-bottom-right-pattern{
  height: 100%;
  width: 36%;
}

/* Flex container for the feature image and feature text */
.booking-image-text-container{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Booking image container on the left side of the booking section */
.booking-image-container{
  position: relative;
  top: 5rem;
  height: 100%;
  width: 45%; 
  z-index: 2;
}

/* Booking image */
.booking-image{
  height: 100%;
  width: 100%;
}

/* Booking text container on the right side of the booking section */
.booking-text-container{
  position: relative;
  top: 7rem;
  width: 40%;
}

/* Booking header container for text on the right side of the booking section */
.booking-header-container{
  margin-bottom: 1rem;
}

/* Booking description text container for text below the booking header */
.booking-description-text-container{
  margin-bottom: 3rem;
}

/* Booking button container */
.booking-button-container{
 margin-bottom: 4.8rem;
}

/* Booking button */
.booking-button{
 background-color: var(--black-dark);
 text-transform: uppercase;
 font-size: 0.8rem;
 letter-spacing: 0.125rem;
}

/* Booking list items for booking occasions below booking button */
.booking-occasion-li{
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.booking-occasion-link{
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--gray-lightest);
}

.booking-default{
  color: var(--gray-medium);
}

.booking-occasion-link:focus{
  color: var(--gray-medium);
}

/* Call to action background */
.call-to-action{
  height: 36vh;
  width: 100%;
  margin-top: 32rem;
  background: url('/images/homepage/ready-bg-desktop.jpg') no-repeat top left/cover;
}

.call-to-action-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding: 5.3rem 0;
}

.call-to-action-text{
  color: var(--white);
}

.call-to-action-button{
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  padding: 1.25rem 3.05rem;
  border: solid var(--white) 2px;
}

/* Footer */
.footer{
  background-color: var(--black-dark);
  color: var(--white);
  padding: 4.8rem 0;
}

/* Flex container for footer boxes */
.footer-container{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.footer-box{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-location-li,
.footer-times-li{
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}



